
ipython
sqlalchemy
PyYAML
anyconfig
pytest
pytest-env
factory_boy
redis
rq
rq-dashboard
flask
gunicorn
cached-property
bs4
lxml
pathlib
python-slugify
invoke
schematics
numpy
mpi4py
blessings
tabulate
gitpython
scandir

-e git+https://github.com/davidmcclure/powerconfig#egg=powerconfig
