
ipython
sqlalchemy
PyYAML
anyconfig
pytest
pytest-env
factory_boy
redis
rq
rq-dashboard
flask
gunicorn
cached-property
beautifulsoup4
lxml
pathlib
python-slugify
invoke
schematics
numpy==1.11.3
mpi4py
blessings
tabulate
gitpython
scandir
attrs
cityhash
boltons
nltk
ujson
flake8

-e git+https://github.com/davidmcclure/cleanconfig#egg=cleanconfig
