
{% from "macros/form.html" import render_field %}

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/export.css">
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <header>
        <img src="/static/images/logo.png" />
        <h1>Corpus Builder</h1>
      </header>

      <form id="query-form" method="post">

        <fieldset class="form-group">
          {{ render_field(form.corpora,
              size=form.corpora.choices|length
          ) }}
        </fieldset>

        <fieldset class="form-group">
          {{ render_field(form.min_year, type='number') }}
        </fieldset>

        <fieldset class="form-group">
          {{ render_field(form.max_year, type='number') }}
        </fieldset>

        <fieldset class="form-group">
          {{ render_field(form.sample_size, type='number') }}
        </fieldset>

        <button
          type="submit"
          class="btn btn-primary btn-lg"
        >Generate</button>

        {{ form.csrf_token }}

      </form>

    </div>
  </div>
</div>

{% endblock %}
