
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/export.css">
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <header>
        <img src="/static/images/logo.png" />
        <h1>Corpus Builder</h1>
      </header>

      <form
        id="query-form"
        action="{{ url_for('query') }}"
        method="post"
      >

        <fieldset class="form-group">

          {{ form.corpora.label }}

          {{
            form.corpora(
              class_='form-control',
              size=form.corpora.choices|length,
            )
          }}

          <!-- TODO: errors -->

        </fieldset>

        <fieldset class="form-group">

          {{ form.min_year.label }}

          <p class="text-muted">Exclude texts published before this year.</p>

          <input
            name="{{ form.min_year.name }}"
            value="{{ form.min_year.data }}"
            type="number"
            class="form-control"
          />

        </fieldset>

        <fieldset class="form-group">

          {{ form.max_year.label }}

          <p class="text-muted">Exclude texts published after this year.</p>

          <input
            name="{{ form.max_year.name }}"
            value="{{ form.max_year.data }}"
            type="number"
            class="form-control"
          />

        </fieldset>

        <fieldset class="form-group">

          {{ form.sample_size.label }}

          <p class="text-muted">Randomly sample N texts. If left blank, all
          texts that match the filters will be included.</p>

          <input
            name="{{ form.sample_size.name }}"
            value="{{ form.sample_size.data }}"
            type="number"
            class="form-control"
          />

        </fieldset>

        <button
          type="submit"
          class="btn btn-primary btn-lg"
        >Generate</button>

        {{ form.csrf_token }}

      </form>

    </div>
  </div>
</div>

{% endblock %}
