
{% extends 'interface/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "interface/home.css" %}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Corpus Manager</h1>

      <form>

        <div class="form-group">
          <label>Corpora</label>
          <select multiple class="form-control">

            <optgroup label="Chadwyck Healey">
              <option>Nineteenth Century Fiction</option>
              <option>English Poetry</option>
              <option>Twentieth Century African American Poetry</option>
              <option>Faber Poetry Collection</option>
              <option>Twentieth Century English Poetry</option>
              <option>Twentieth Century English Poetry (2nd ed)</option>
              <option>Twentieth Century Drama</option>
              <option>Twentieth Century American Poetry</option>
              <option>Modern Poetry</option>
              <option>English Drama</option>
              <option>American Poetry</option>
              <option>American Drama</option>
              <option>African American Poetry</option>
              <option>Early American Fiction</option>
              <option>Eighteenth Century Fiction</option>
              <option>Early English Prose Fiction</option>
            </optgroup>

            <option>Eighteenth Century Collections Online</option>
            <option>Nineteenth Century Collections Online</option>
            <option>British Library Novels</option>
            <option>British Periodicals Online</option>
            <option>Literary Lab - Suspense</option>
            <option>Literary Lab - 20th Century</option>

          </select>
        </div>

        <div class="form-group">
          <label>Start Year</label>
          <input type="number" class="form-control" value="1750" />
        </div>

        <div class="form-group">
          <label>End Year</label>
          <input type="number" class="form-control" value="1920" />
        </div>

        <!-- year range -->

        <div class="form-group">
          <label>Category</label>
          <select multiple class="form-control">
            <option>Prose</option>
            <option>Poetry</option>
            <option>Drama</option>
          </select>
        </div>

        <div class="form-group">
          <label>OCR Percentage</label>
          <input type="number" class="form-control" value="80" />
        </div>

        <div class="form-group">
          <label>Classified Genre</label>
          <select multiple class="form-control">

            <optgroup label="Novels">
              <option>National</option>
              <option>Industrial</option>
              <option>Newgate</option>
              <option>Silver Fork</option>
              <option>Bildungsroman</option>
              <option>Evangelical</option>
              <option>Anti-Jacobin</option>
              <option>Gothic</option>
              <option>Historical</option>
            </optgroup>

          </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">
          Build Corpus
        </button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
