
{% extends 'interface/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "interface/home.css" %}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

      <h1>Corpus Manager</h1>

      <form>

        <div class="form-group">
          <label>Corpora</label>
          <select multiple class="form-control">
            <option>Chadwyck Healey - Nineteenth Century Fiction</option>
            <option>Chadwyck Healey - English Poetry</option>
            <option>Chadwyck Healey - Twentieth Century African American Poetry</option>
            <option>Chadwyck Healey - Faber Poetry Collection</option>
            <option>Chadwyck Healey - Twentieth Century English Poetry</option>
            <option>Chadwyck Healey - Twentieth Century English Poetry (2nd ed)</option>
            <option>Chadwyck Healey - Twentieth Century Drama</option>
            <option>Chadwyck Healey - Twentieth Century American Poetry</option>
            <option>Chadwyck Healey - Modern Poetry</option>
            <option>Chadwyck Healey - English Drama</option>
            <option>Chadwyck Healey - American Poetry</option>
            <option>Chadwyck Healey - American Drama</option>
            <option>Chadwyck Healey - African American Poetry</option>
            <option>Chadwyck Healey - Early American Fiction</option>
            <option>Chadwyck Healey - Eighteenth Century Fiction</option>
            <option>Chadwyck Healey - Early English Prose Fiction</option>
            <option>Eighteenth Century Collections Online</option>
            <option>Nineteenth Century Collections Online</option>
            <option>British Library Novels</option>
            <option>British Periodicals Online</option>
            <option>Literary Lab - Suspense</option>
            <option>Literary Lab - 20th Century</option>
          </select>
        </div>

        <!-- year range -->

        <div class="form-group">
          <label>Category</label>
          <select multiple class="form-control">
            <option>Prose</option>
            <option>Poetry</option>
            <option>Drama</option>
          </select>
        </div>

        <!-- OCR percentage -->
        <!-- Classified genre-->

      </form>

    </div>
  </div>
</div>

{% endblock %}
